<div class="container">
    <h1>Firebase works!</h1>
    <div>
        <p>{{message}}</p>
        <button mat-raised-button (click)="login()">login</button>
        <button mat-raised-button (click)="logout()">logout</button>
        <p>USER: {{currentUser}}</p>
        <div>
            <mat-form-field style="margin-right: 10px;">
                <input matInput [(ngModel)]="name" placeholder="name">
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <input matInput [(ngModel)]="mail" placeholder="mail">
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <input type="number" matInput [(ngModel)]="age" placeholder="age">
            </mat-form-field>
        </div>
        <div>
            <button mat-stroked-button (click)="add()">Add</button>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Mail</th>
                <th>Age</th>
            </tr>
            <tr *ngFor="let item of data">
                <td>{{ item['name'] }}</td>
                <td>{{ item['mail'] }}</td>
                <td>{{ item['age'] }}</td>
            </tr>
        </table>
    </div>
</div>